
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginForm</title>
</head>
<body>
    <h3>Welcome @ViewBag.Username, your password is @ViewBag.Password</h3>
</body>
</html>
