
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginStrongForm</title>
</head>
<body>
    <h4>Welcome @ViewBag.UserName to Strong Form, your password is @ViewBag.Password</h4>
</body>
</html>
