@model APIHub_WebApp.Models.LoginViewModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserDetails</title>
</head>
<body>
    <p>Username : @Model.UserName</p>
    <p>Username : @Model.Password</p>
</body>
</html>
